.card-space {
	margin-bottom: 15px;
	margin-top: 5px;
}

.card .card-title.title_custom {
	font-size: 20px;
}

.card .card-action.card_default {
	border-top: 1px solid #4ca8c1;
}

.card .card-action.card_dark {
	border-top: 1px solid #616161;
}

.btn_delete {
	margin-right: 10px;
}

@media (max-width: 87.5rem) {
	.btn_delete {
		width: 100%;
	}

	.btn_edit {
		margin-top: 10px;
		width: 100%;
	}
}